/*
{
	border: 1px solid red !important;
}*/

nav 
{
	display: flex;
	align-items: : flex-end;
	justify-content: flex-end;
	align-items: normal; 
    align-items: stretch; 
    font-style: Arial;
    margin-top: 20px;
}

.gmail
{
	padding-right: 25px;
	color: rgba(0,0,0,0.87);
}

.images
{
	padding-right: 10px;
	color: rgba(0,0,0,0.87);
}

.applications
{
	padding-right: 10px;
}

.connexion
{
	padding: 10px 10px;
/*	text-decoration-color: rgb(255,255,255);
*/	border: 4px blue;
	background-color: blue;
	color: white;
}

.olivier
{
	color: red;
}

a
{
	text-decoration: none;
	
	/*color:rgba(0,0,0,0.87);*/
}







